<div class="container mt-5 mb-5">

    <div class="row">

        <div class="col-lg-6" *ngIf="menuData">

          <a routerLink="../../menu" class="btn btn-sm btn-dark mb-3">Back</a>

            <img src="{{menuData[0].foodImg}}" width="100%">

            <h1>{{menuData[0].foodName}}</h1>
            <p>{{menuData[0].foodDetails}}</p>
            <p>{{menuData[0].foodPrice | currency:'INR'}}</p>

        </div>

        <div class="col-lg-6">
           <h1>Enter Your Details</h1>

            <form >
                <input style="background-color: darkcyan;" type="text" class="form-control mt-3 p-2" placeholder="Enter Your FullName">
                <input style="background-color: darkcyan;" type="text" class="form-control mt-3 p-2" placeholder="Enter Your Mobile Number">
                <textarea style="background-color: rgb(82, 124, 124);" class="form-control mt-3 p-2" placeholder="Address"></textarea>
               <button (click)="OnClick()"  class="btn btn-secondary mt-3" type="button" >Place Order</button>
            </form>


        </div>
    </div>

</div>